<div class="defra-toggletip" data-toggletip-label="{{label}}" data-toggletip-content="{{tooltiptext}}">
  {{title}}
  <span class="defra-toggletip__container" data-toggletip-container="">
    <button class="defra-toggletip__button defra-toggletip-target" aria-label="{{label}}">
      <span class="defra-toggletip__button-icon">
        {# Icon defined once as #aq-icon-toggletip in layouts/page.njk #}
        <svg focusable="false" aria-hidden="true" width="18" height="18" viewBox="0 0 18 18">
          <use href="#aq-icon-toggletip"/>
        </svg>
      </span>
      <span class="defra-toggletip__button-text">i</span>
    </button>
    <span class="defra-toggletip__info" role="status">
      <span class="defra-toggletip__text">{{tooltiptext}}</span>
      <span class="defra-toggletip__arrow"></span>
    </span>
  </span>
</div> 
