{% extends 'layouts/page.njk' %}
{% set displayBreadcrumbs = false %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
 
<div class="govuk-grid-row">
 
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{title.title1}} {{title.title2}} {{ locationMiles }} miles {{title.title3}} {{searchLocation}}</h1>
   
    <p class="govuk-body govuk-!-margin-top-3">
    <a href="/search-location/searchagain" class="govuk-link">{{paragraphs.a}}</a>
    </p>
     </div>
      
</div>
<table class="govuk-table">  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="col">{{paragraphs.b}}</th>
      <th  class="govuk-table__header govuk-!-width-one-quarter"scope="col">{{paragraphs.c}}</th>
      <th class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter" scope="col">{{paragraphs.d}}</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
        {% for item in monitoring_station %}
    
        <tr class="govuk-table__header">

          <th class="govuk-table__cell"> 
        
          <strong>
  <a id="station-link-{{ item.id }}" href="/stationDetailsNojs" class="station-link" data-station-id="{{ item.id }}">{{ item.name }}</a>
</strong>

<script>
  // Change href for JS-enabled users
  document.getElementById('station-link-{{ item.id }}').href = "/stationdetails";
</script>

<noscript>
  <!-- Link already has nojs path as default, so no changes needed -->
</noscript>
           <p class="govuk-body">{{item.distance}} miles away</p>
          </th>
         <td class="govuk-table__cell">
        <p class="govuk-body">  {{item.siteType}}</p>
         </td>
         
          <td class = "govuk-table__cell govuk-table__cell--numeric">
         {% set pollutantTime = pollmap.get(item.name) %}
          <ul class="govuk-list">  
            {% for item1 in item.pollutants %}
            
          <li>{{item1}} </li> 
        
           {% endfor %}
</ul>
          </td>
        
          

          {% endfor %}
      </tbody>
  
</table>

<form id="station-form" action="/stationdetails" method="POST" style="display: none;">
  <input type="hidden" name="stationId" id="station-id-input">
</form>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('.station-link');
    const form = document.getElementById('station-form');
    const input = document.getElementById('station-id-input');
    
    links.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        input.value = this.getAttribute('data-station-id');
        // Use the href to determine which endpoint to POST to
        form.action = this.getAttribute('href');
        form.submit();
      });
    });
  });
</script>
   



{% endblock %}
