{% extends 'layouts/page.njk' %}
{% set displayBreadcrumbs = false %}
{% from "govuk/components/table/macro.njk" import govukTable %}
 {% from "govuk/components/tabs/macro.njk" import govukTabs %}
   {% from "govuk/components/details/macro.njk" import govukDetails %}
<script src="/path/to/govuk-frontend/govuk/all.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      window.GOVUKFrontend.initAll();
      // Show the map toggletip only if JS is enabled
      var toggletip = document.getElementById('map-toggletip');
      if (toggletip) {
        toggletip.style.display = 'inline';
      }
    });
    
       
        
    
  </script>
{% block content %}

    
 {% set mapToggletip %}
  {{ toggletip(
    '',
    'More information about ' + stationdetails.siteType,
    maptoggletips
    ,
    'Trend'
  )}}
{% endset %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">{{stationdetails.name}}</h1>   



        <strong class="govuk-tag status-tag govuk-tag--green">
            Active
          </strong>
          <p class="status-description govuk-!-margin-top-3" id="status">Latest at {{updatedTime}}</p>
</div>
</div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
          <dl class="defra-aq-features__list govuk-!-margin-top-3">
            <div class="defra-aq-features__item" >
              <dt class="defra-aq-features__key govuk-caption-m" >Monitoring network</dt>
              <dd class="defra-aq-features__value govuk-body" >Automatic Urban and Rural Network (AURN)</dd>
            </div>
            <div class="defra-aq-features__item" >
              <dt class="defra-aq-features__key govuk-caption-m" >Region</dt>
              <dd class="defra-aq-features__value govuk-body" >{{stationdetails.region}}</dd>
            </div>
            <div class="defra-aq-features__item" >
              <dt class="defra-aq-features__key govuk-caption-m">Site type</dt>
             
              <dd class="defra-aq-features__value govuk-body">
                {{stationdetails.siteType}}
                <span id="map-toggletip" >
                  {{mapToggletip | safe}}
                </span>
                {# <noscript>

                  {{ govukDetails({
      summaryText: "More information about " + stationdetails.siteType,
      html: maptoggletips
    }) }}
                </noscript> #}
                <p class="govuk-body govuk-!-margin-top-1">
                  <a href={{maplocation}} class="govuk-link" target="_blank">View on Google Maps (opens in new tab)</a>
                </p>
              </dd>
             
            </div>
            </dl>
            {% from "toggletip/macro.njk" import toggletip %}
{% set mapToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'This monitoring site is in a city or town close to roads, motorways or highways.
    ',
    'Trend'
  )}}
{% endset %}

<h2 id="airpollution-heading" class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-2">Air pollution levels in {{selectedYear}}</h2>
    
     
     
{% if selectedYear == 2025 %}
<p id="duration_current" class="govuk-body govuk-!-margin-bottom-3">1 January to {{currentdate}}</p>
{% else %}
<p id="duration_current" class="govuk-body govuk-!-margin-bottom-3">1 January to 31 December</p>
{% endif %}       

{# <p id="duration_current" class="govuk-body govuk-!-margin-bottom-3">1 January to 31 December</p> #}
 <span id="selectedYear" class="display-none" >{{selectedYear}}</span>
<nav class="moj-sub-navigation" aria-label="Sub navigation">  
  <ul class="moj-sub-navigation__list"  role="tablist">
  {% for year in years %}
    <li class="moj-sub-navigation__item">
 <a class="moj-sub-navigation__link" id="link-{{ year }}" href="/stationDetailsNojs/year/{{ year }}" 
 role="tab" aria-controls="panel-{{ year }}"
 name="year_selected" value="{{ year }}" 
  
 {% if year == selectedYear %}
 aria-current="page" 
 {% endif %}>
 {{ year }}</a>
    </li>
  {% endfor %}
   
</ul>
          
          </nav>
            <div id="yearlytable-container">
{% from "toggletip/macro.njk" import toggletip %}
  {% set dataToggletip %}
  {{ toggletip(
    '',
    'More information about what verified means',
    'Data is verified when it has been checked for anomalies.
    ',
    'Trend'
  )}}
{% endset %}

{% set PM10_dailyToggletip %}
  {{ toggletip(
   '',
    'More information about daily exceedances for PM10',
    'Daily average PM10 levels must not go above 50 micrograms per cubic metre (µg/m³) more than 35 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_dailyToggletip %}
  {{ toggletip(
    '',
    'More information about daily exceedances for sulphur dioxide',
    'Daily average sulphur dioxide levels must not go above 125 micrograms per cubic metre (µg/m³) more than 3 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_hourlyToggletip %}
  {{ toggletip(
    '',
   'More information about hourly exceedances for nitrogen dioxide',
    'Hourly nitrogen dioxide levels must not go above 200 micrograms per cubic metre (µg/m³) more than 18 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_hourlyToggletip %}
  {{ toggletip(
    '',
    'More information about hourly exceedances for sulphur dioxide',
    'Hourly sulphur dioxide levels must not go above 350 micrograms per cubic metre (µg/m³) more than 24 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}

{% set PM10_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average PM10 levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average nitrogen dioxide levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}


{% set PM25_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for PM2.5',
    'Annual average PM2.5 levels at any site must not go above 20 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set PM10_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for PM10',
    'Annual average PM10 levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number). ',
    'Trend'
  )}}
{% endset %}
{% set NO2_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for nitrogen dioxide',
    'Annual average nitrogen dioxide levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).',
    'Trend'
  )}}
{% endset %}
{% set O2_annualAvg %}
  {{ toggletip(
    '',
   'More information about the UK annual average limit value for ozone',
    'There is no annual average limit value for ozone.',
    'Trend'
  )}}
{% endset %}
{% set SO2_annualAvg %}
  {{ toggletip(
    '',
   'More information about the UK annual average limit value for sulphur dioxide',
    'There is no annual average limit value for sulphur dioxide.',
    'Trend'
  )}}
{% endset %}
{% set DatacaptureToggletip %}
  {{ toggletip(
    '',
    'More information about the Data capture percentage',
    'Data capture under 75% is low. We do not calculate the average when data capture is low.
    ',
    'Trend'
  )}}
{% endset %}

  <span id="selectedYear" class="display-none" >{{finalyear}}</span>
  
{% if tabledata !== null %}

  <div id="yeartabble">
  <p class="govuk-heading-s"> {{tabledata[0].dataVerifiedTag }} 
   
  </p>
             

<div class="table-scroll-container">
<table id="aqitable" class="govuk-table defra-aq-levels-table govuk-!-margin-bottom-2">

{# <h1 class="govuk-heading-s" >{{url}} </h1> #}
              <thead class="defra-aq-levels-table__head">
<tr class="defra-aq-levels-table__row">
  <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant defra-aq-levels-table__cell--pollutant-title">Pollutant</th>
                
          <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average defra-aq-levels-table__cell--average-title">Average</th>
                
         <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily defra-aq-levels-table__cell--daily-title">Daily exceedances</th>

             <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly defra-aq-levels-table__cell--hourly-title">Hourly exceedances</th>
                 
                
                
                </tr>
              </thead>
              
             
      {% for data in tabledata %}
        <tbody class="defra-aq-levels-table__body">
                    <tr class="defra-aq-levels-table__row">
                       
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant">{{ data.pollutantName }}
           {% if data.dataCapturePercentage < 75 %}
           <span class="defra-aq-levels-table__cell--data"><strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                          Low data capture
                        </strong></span>
             {% endif %}
          <span class="defra-aq-levels-table__cell--data " style= "margin-top: 4px;">Data capture: {{ data.dataCapturePercentage }}%
          {% if data.dataCapturePercentage < 75 %}
          <span>
      {{ DatacaptureToggletip | safe }}
      </span>
          {% endif %}
         


        </span></td>
      
         <td  class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average"> 
  {{ data.annualcount }} µg/m3
   
  {% if data.annualcount != '-' %}
    {% if data.pollutantName == "PM2.5" %}
      {{PM25_annualAvg| safe }}
      {% if data.annualcount > 20 and data.datacapture >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "PM10" %}
      {{PM10_annualAvg| safe }}
      {% if data.annualcount > 40 and data.datacapture >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "Sulphur dioxide" %}
      {{SO2_annualAvg| safe }}
    {% elif data.pollutantName == "Nitrogen dioxide" %}
      {{NO2_annualAvg| safe }}
      {% if data.annualcount > 40 and data.datacapture >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "Ozone" %}
      {{O2_annualAvg| safe }} 
    {% endif %}
  {% endif %}
</td>

{% if data.pollutantName == "PM10" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
        {{ PM10_dailyToggletip | safe }}
        {% if data.dailyCount > 35 %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if (data.pollutantName != "PM10") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
    </td>
{% endif %}

{% if data.pollutantName == "Sulphur dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
        {{ SO2_dailyToggletip | safe }}
        {% if data.dailyCount > 3 %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if data.pollutantName == "Nitrogen dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
        {{ data.hourlyCount }}
        {{ NO2_hourlyToggletip | safe }}
        {% if (data.hourlyCount > 18) %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if (data.pollutantName != "Nitrogen dioxide") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
        {{ data.hourlyCount }}
    </td>
{% endif %}
      </tr>
      {% endfor %}
    </tbody>
            </table>
            </div>
            </div>
              <span id="selectedYear"  class="display-none" >{{finalyear}}</span>
          
 <h2 id="year-heading" class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-6">Download data for {{finalyear}}</h2> 
 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Approximate file sizes (CSV)
    </span>
  </summary>
  <div class="govuk-details__text">
   <p>File sizes for a year of data:</p>
  <ul class="govuk-body govuk-list--bullet">
      <li>hourly data - usually less than 1MB</li>
      <li>daily average data - usually less than 500KB</li>
      <li>annual average data - usually less than 100KB</li>
    </ul>  </div>
</details>
              
      {% set year_selected = finalyear %}
    
      
                 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m" id="all-p">All pollutants</h3>
 
   <a id="download-link"   href="/downloaddatanojs/AllPollutants/Hourly" role="button" 
   class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
   aria-label="Download hourly data for All pollutants">
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
                </span>
</a>
<br>
                      <a id="download-link" href="/downloaddatanojs/AllPollutants/Daily" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                      aria-label=" Download daily average data for All pollutants"
                      >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                       
                    </a>

                    <br>

                    <a id="download-link" href="/downloaddatanojs/AllPollutants/Annual" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                        aria-label="Download annual average data for All pollutants"
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download annual average data 
          
                       
                    </a>


 {% for pollutant in tabledata %}
<h3 class="govuk-heading-m" id="all-p">{{pollutant.pollutantName}}</h3>

                    <a id="download-link" href="/downloaddatanojs/{{pollutant.pollutantName}}/Hourly" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                     aria-label="Download hourly data for {{pollutant.pollutantName}}"
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

<br>
                      <a id="download-link" href="/downloaddatanojs/{{pollutant.pollutantName}}/Daily" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                      
                        aria-label=" Download daily average data for {{pollutant.pollutantName}}">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>
                    <br>
                    
                  <a id="download-link" 
                   href="/downloaddatanojs/{{pollutant.pollutantName}}/Annual"
                   role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                        aria-label="Download annual average data for {{pollutant.pollutantName}}"
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download annual average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>
                    


 {% endfor%}                       
  </div>
                        </div>
                </div>
                {% else %}
                <div class="govuk-inset-text">
  There is no data available for this year.
</div>
               {% endif%}      
              
              
              <script>

      
          
    </script>
    {% if downloadresult %}
  <script>
  
    var downloadresult = "{{ downloadresult | safe }}";
    var url = downloadresult;
   window.location.href = url;
  </script>
  <noscript>
  <meta http-equiv="refresh" content="0; url={{ downloadresult }}">
  <!-- Or provide a manual link -->
  <p>
    <a href="{{ downloadresult }}">Download file</a>
  </p>
</noscript>
{% endif %}

  <noscript>
    <div class="no-js-warning">
      <p>JavaScript is disabled. You are viewing the default data for the selected year.</p>
    </div>
  </noscript>
</div>
      
         <script> 
              
              let selyear;
       function updateYear(year) {
    selyear = year;
   console.log( document.getElementById('link-'+selyear))
    //document.getElementById('year-heading').textContent = `Download data for ${year}`;
    document.getElementById('airpollution-heading').textContent = `Air pollution levels in ${year}`;
    const currentDate = new Date();
    const formattedDate = `${currentDate.getDate()} ${currentDate.toLocaleString('default', { month: 'long' })}`;
  
    if( year === '2025' || year === 2025)
    {
 document.getElementById('duration_current').textContent = '1 January to ' + formattedDate;
 }else
 {
  document.getElementById('duration_current').textContent = '1 January to 31 December';
 }
    var links = document.querySelectorAll('.moj-sub-navigation__link');
    links.forEach(function(link) {
        link.removeAttribute('aria-current');
        link.setAttribute('aria-selected', 'false');
    });

    // Set aria-current and aria-selected to the clicked link
    var selectedLink = document.getElementById('link-' + year);
    if (selectedLink) {
        selectedLink.setAttribute('aria-current', 'page');
        selectedLink.setAttribute('aria-selected', 'true');
        //selectedLink.setAttribute(' tabindex', 0);
    }else{
      selectedLink.setAttribute('aria-selected', 'false');
    }
const selectedy = year;
console.log("selectedy",selectedy)
   window.location.href = `/stationDetailsNojs/year/${year}`;
   
   }

// Check if there is already a selected year and set aria-current
document.addEventListener('DOMContentLoaded', () => {

    const selectedYearElement = document.getElementById('selectedYear');
    const selectedYear = selectedYearElement ? selectedYearElement.textContent : null;
      document.getElementById('year-heading').textContent = `Download data for ${selectedYear}`;
      console.log("document.getElementById('year-heading').textContent",document.getElementById('year-heading').textContent)
    document.getElementById('airpollution-heading').textContent = `Air pollution levels in ${selectedYear}`;
    console.log("selectedyearim78",selectedYear)
    
});


 function updateYear1(year) {
    console.log("year", year);
    
}
       </script>

        {# {% include "partials/Yearlytab.njk" %}     #}
         

 
{% endblock %}
<noscript>
  <meta http-equiv="refresh" content="0; url=/stationDetailsNojs/nojs/{{stationdetails.id}}">
</noscript>