<div class="govuk-grid-row app-heading not-found" data-testid="app-heading">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ content.texts_500.a }}</h1>
  </div>
</div>
<p class="govuk-body">{{ content.texts_500.b }}</p>

<p class="govuk-body">{{ content.texts_500.c}}<a href="mailto:checklocalairquality@defra.gov.uk">{{ content.texts_500.d }}</a>{{ content.texts_500.e }}</p> 