<script type="module" src="/src/client/javascripts/application.js"></script>
{% from "toggletip/macro.njk" import toggletip %}

 

{% set PM10_dailyToggletip %}
  {{ toggletip(
   '',
    'More information about daily exceedances for PM10',
    'Daily average PM10 levels must not go above 50 micrograms per cubic metre (µg/m³) more than 35 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_dailyToggletip %}
  {{ toggletip(
    '',
    'More information about daily exceedances for sulphur dioxide',
    'Daily average sulphur dioxide levels must not go above 125 micrograms per cubic metre (µg/m³) more than 3 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_hourlyToggletip %}
  {{ toggletip(
    '',
   'More information about hourly exceedances for nitrogen dioxide',
    'Hourly nitrogen dioxide levels must not go above 200 micrograms per cubic metre (µg/m³) more than 18 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_hourlyToggletip %}
  {{ toggletip(
    '',
    'More information about hourly exceedances for sulphur dioxide',
    'Hourly sulphur dioxide levels must not go above 350 micrograms per cubic metre (µg/m³) more than 24 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}

{% set PM10_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average PM10 levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average nitrogen dioxide levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}


{% set PM25_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for PM2.5',
    'Annual average PM2.5 levels at any site must not go above 20 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set PM10_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for PM10',
    'Annual average PM10 levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number). ',
    'Trend'
  )}}
{% endset %}
{% set NO2_annualAvg %}
  {{ toggletip(
    '',
    'More information about the UK annual average limit value for nitrogen dioxide',
    'Annual average nitrogen dioxide levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).',
    'Trend'
  )}}
{% endset %}
{% set O2_annualAvg %}
  {{ toggletip(
    '',
   'More information about the UK annual average limit value for ozone',
    'There is no annual average limit value for ozone.',
    'Trend'
  )}}
{% endset %}
{% set SO2_annualAvg %}
  {{ toggletip(
    '',
   'More information about the UK annual average limit value for sulphur dioxide',
    'There is no annual average limit value for sulphur dioxide.',
    'Trend'
  )}}
{% endset %}
{% set DatacaptureToggletip %}
  {{ toggletip(
    '',
    'More information about the Data capture percentage',
    'Data capture under 75% is low. We do not calculate the average when data capture is low.
    ',
    'Trend'
  )}}
{% endset %}

  <span id="selectedYear" class="display-none" >{{finalyear}}</span>
  
{% if tabledata !== null %}

  <div id="yeartabble">
  <p class="govuk-heading-s"> {{tabledata[0].dataVerifiedTag }} 
   
  </p>
             
<div class="table-scroll-container">
<table id="aqitable" class="govuk-table defra-aq-levels-table govuk-!-margin-bottom-2">

{# <h1 class="govuk-heading-s" >{{url}} </h1> #}
              <thead class="defra-aq-levels-table__head">
<tr class="defra-aq-levels-table__row">
  <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant defra-aq-levels-table__cell--pollutant-title">Pollutant</th>
                
          <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average defra-aq-levels-table__cell--average-title">Average</th>
                
         <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily defra-aq-levels-table__cell--daily-title">Daily exceedances</th>

             <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly defra-aq-levels-table__cell--hourly-title">Hourly exceedances</th>
                 
                
                
                </tr>
              </thead>
              
             
      {% for data in tabledata %}
        <tbody class="defra-aq-levels-table__body">
                    <tr class="defra-aq-levels-table__row">
                       
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant">{{ data.pollutantName }}
           {% if data.dataCapturePercentage < 75 %}
           <span class="defra-aq-levels-table__cell--data"><strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                          Low data capture
                        </strong></span>
             {% endif %}
          <span class="defra-aq-levels-table__cell--data " style= "margin-top: 4px;">Data capture: {{ data.dataCapturePercentage }}%
          {% if data.dataCapturePercentage < 75 %}
          <span>
      {{ DatacaptureToggletip | safe }}
      </span>
          {% endif %}
         


        </span></td>
      
         <td  class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average"> 
  {{ data.annualcount }} 
   
  {% if data.annualcount != '-' %}
    {% if data.pollutantName == "PM2.5" %}
    
     
      {% if data.annualcount != '-' %} µg/m3 {% endif %}
      
      {{PM25_annualAvg| safe }}
      {% if data.annualcount > 20 and data.dataCapturePercentage >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "PM10" %}
    {% if data.annualcount != '-' %} µg/m3 {% endif %}
      {{PM10_annualAvg| safe }}
      {% if data.annualcount > 40 and data.dataCapturePercentage >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "Sulphur dioxide" %}
    {% if data.annualcount != '-' %} µg/m3 {% endif %}
      {{SO2_annualAvg| safe }}
    {% elif data.pollutantName == "Nitrogen dioxide" %}
    {% if data.annualcount != '-' %} µg/m3 {% endif %}
      {{NO2_annualAvg| safe }}
      {% if data.annualcount > 40 and data.dataCapturePercentage >= 75 %}
        <span class="defra-aq-levels-table__cell--data">
          <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
            Above limit
          </strong>
        </span>
      {% endif %}
    {% elif data.pollutantName == "Ozone" %}
    {% if data.annualcount != '-' %} µg/m3 {% endif %}
      {{O2_annualAvg| safe }} 
    {% endif %}
  {% endif %}
</td>

{% if data.pollutantName == "PM10" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
        {{ PM10_dailyToggletip | safe }}
        {% if data.dailyCount > 35 %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if (data.pollutantName != "PM10") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
    </td>
{% endif %}

{% if data.pollutantName == "Sulphur dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
      <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances for PM10" data-toggletip-content="Daily average PM10 levels must not reach 50.5 micrograms per cubic metre (µg/m³) or above more than 35 times in a calendar year.">
                            {{ data.dailyCount }}
                             </div>
       
      
        {% if data.dailyCount > 3 %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if data.pollutantName == "Nitrogen dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">

      <div class="defra-toggletip" data-toggletip="" data-toggletip-label="More information about daily exceedances for PM10" data-toggletip-content="Daily average PM10 levels must not reach 50.5 micrograms per cubic metre (µg/m³) or above more than 35 times in a calendar year.">
                            {{ data.hourlyCount }}
                             </div>
      
      
        {% if (data.hourlyCount > 18) %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}
{% if data.pollutantName == "Sulphur dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
        {{ data.hourlyCount }}
        {{ SO2_hourlyToggletip | safe }}
        {% if (data.hourlyCount > 24) %}
            <span class="defra-aq-levels-table__cell--data">
                <strong class="govuk-tag govuk-tag--red govuk-!-font-size-16">
                    Above limit
                </strong>
            </span>
        {% endif %}
    </td>
{% endif %}

{% if (data.pollutantName != "Nitrogen dioxide") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
        {{ data.hourlyCount }}
    </td>
{% endif %}
      </tr>
      {% endfor %}
    </tbody>
            </table>
            </div>
            </div>
              <span id="selectedYear"  class="display-none" >{{finalyear}}</span>
          
 <h2 id="year-heading" class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-6">Download data for {{finalyear}}</h2> 
 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Approximate file sizes (CSV)
    </span>
  </summary>
  <div class="govuk-details__text">
   <p>File sizes for a year of data:</p>
  <ul class="govuk-body govuk-list--bullet">
      <li>hourly data - usually less than 1MB</li>
      <li>daily average data - usually less than 500KB</li>
      <li>annual average data - usually less than 100KB</li>
    </ul>  </div>
</details>
              
      {% set year_selected = finalyear %}
    
      
                 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m" id="all-p">All pollutants</h3>
 
   <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Hourly')" role="button" 
   class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
   aria-label="Download hourly data for All pollutants">
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
                </span>
</a>

<br>

                      <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Daily')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                      aria-label=" Download daily average data for All pollutants"
                      >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                       
                    </a>

                    <br>

                    <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Annual')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                        aria-label="Download annual average data for All pollutants"
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download annual average data 
          
                       
                    </a>


 {% for pollutant in tabledata %}
<h3 class="govuk-heading-m" id="all-p">{{pollutant.pollutantName}}</h3>
 
                    <a id="download-link" href="#"  onclick = "getAPIstn_details1('{{pollutant.pollutantName}}','Hourly')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                     aria-label="Download hourly data for {{pollutant.pollutantName}}"   
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

<br>
                      <a id="download-link" href="#"  onclick = "getAPIstn_details1('{{pollutant.pollutantName}}','Daily')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                      
                        aria-label=" Download daily average data for {{pollutant.pollutantName}}">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>
                    <br>
                    
                  <a id="download-link" href="#"  onclick = "getAPIstn_details1('sdf','Annual')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3"
                        aria-label="Download annual average data for {{pollutant.pollutantName}}"
                    >
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download annual average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>
                    


 {% endfor%}                       
  </div>
                        </div>
                </div>
                {% else %}
                <div class="govuk-inset-text">
  There is no data available for this year.
</div>
               {% endif%}      
              
              
              <script>

      async function getAPIstn_details1(pollutants,freq) {  
        console.log("comes into getAPIstn_details1")
        
const scrollY = window.scrollY;

window.scrollTo(0, scrollY); 
        
      fetch(`/downloaddata/${pollutants}/${freq}`)
        .then(response => response.text())
        .then ( data => {           
           
            window.location.href =data
            window.scrollTo(0, scrollY); 
        })
        .catch(error => console.error('Error fetching partial content:', error));        
}
document.addEventListener('DOMContentLoaded', () => {
    //document.getElementById('airpollution-heading').textContent = `Air pollution levels in ${selectedYear}`;
    
   
});
          
    </script>
    {% if downloadresult %}
  <script>
  
    var downloadresult = "{{ downloadresult | safe }}";
    var url = downloadresult;
   window.location.href = url;
  </script>
{% endif %}
