  
  {% from "toggletip/macro.njk" import toggletip %}
  {% set dataToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Data is verified when it has been checked for anomalies.
    ',
    'Trend'
  )}}
{% endset %}

{% set PM10_dailyToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Daily average PM10 levels must not go above 50 micrograms per cubic metre (µg/m³) more than 35 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_dailyToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Daily average sulphur dioxide levels must not go above 125 micrograms per cubic metre (µg/m³) more than 3 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_hourlyToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Hourly nitrogen dioxide levels must not go above 200 micrograms per cubic metre (µg/m³) more than 18 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_hourlyToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Hourly sulphur dioxide levels must not go above 350 micrograms per cubic metre (µg/m³) more than 24 times in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set PM25_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average PM2.5 levels at any site must not go above 20 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set PM10_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average PM10 levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set NO2_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'Annual average nitrogen dioxide levels at any site must not go above 40 micrograms per cubic metre (µg/m³) in a calendar year (when rounded to a whole number).
    ',
    'Trend'
  )}}
{% endset %}
{% set O3_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'There is no annual average limit value for ozone.
    ',
    'Trend'
  )}}
{% endset %}
{% set SO2_annualToggletip %}
  {{ toggletip(
    '',
    'More information about the trend',
    'There is no annual average limit value for sulphur dioxide.
    ',
    'Trend'
  )}}
{% endset %}
  <span id="selectedYear" style="display: none;" >{{finalyear}}</span>
  
{% if tabledata !== null %}

  <div id="yeartabble">
  <h3 class="govuk-heading-s"> {{tabledata[0].dataVerifiedTag }} 
   
  </h3>
             

<table id="aqitable" class="govuk-table defra-aq-levels-table govuk-!-margin-bottom-2">

<h1 class="govuk-heading-s" >{{url}} </h1>
              <thead class="defra-aq-levels-table__head">
<tr class="defra-aq-levels-table__row">
  <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant defra-aq-levels-table__cell--pollutant-title">Pollutant</th>
                
          <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average defra-aq-levels-table__cell--average-title">Average</th>
                
         <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily defra-aq-levels-table__cell--daily-title">Daily exceedances</th>

             <th scope="col" class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly defra-aq-levels-table__cell--hourly-title">Hourly exceedances</th>
                 
                
                
                </tr>
              </thead>
              
             
      {% for data in tabledata %}
        <tbody class="defra-aq-levels-table__body">
                    <tr class="defra-aq-levels-table__row">
        <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--pollutant">{{ data.pollutantName }}<span class="defra-aq-levels-table__cell--data">Data capture: {{ data.dataCapturePercentage }}</span></td>
        <td  class="defra-aq-levels-table__cell defra-aq-levels-table__cell--average"> {{ data.annualcount }} </td>

{% if data.pollutantName == "PM10" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
 {{ data.dailyCount }}
 {{ PM10_dailyToggletip | safe }}
    </td>

{% endif %}

{% if (data.pollutantName != "PM10") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">
        {{ data.dailyCount }}
    </td>
{% endif %}

 {% if data.pollutantName == "Sulphur dioxide" %}
<td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--daily">

 {{ data.dailyCount }}
 {{ SO2_dailyToggletip | safe }}
 </td>
 {% endif %}

       {% if data.pollutantName == "Nitrogen dioxide" %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
 {{ data.hourlyCount }}
 {{ NO2_hourlyToggletip | safe }}
    </td>

{% endif %}

{% if (data.pollutantName != "Nitrogen dioxide") and (data.pollutantName != "Sulphur dioxide") %}
    <td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">
        {{ data.hourlyCount }}
    </td>
{% endif %}

 {% if data.pollutantName == "Sulphur dioxide" %}
<td class="defra-aq-levels-table__cell defra-aq-levels-table__cell--hourly">

 {{ data.hourlyCount }}
 {{ SO2_hourlyToggletip | safe }}
 </td>
 {% endif %}
      </tr>
      {% endfor %}
    </tbody>
            </table>
            </div>
              <span id="selectedYear" style="display: none;" >{{finalyear}}</span>
          
 <h2 id="year-heading" class="govuk-heading-l govuk-!-margin-top-7 govuk-!-margin-bottom-6">Download data for {{finalyear}}</h2> 
 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Approximate file sizes (CSV)
    </span>
  </summary>
  <div class="govuk-details__text">
   <p>File sizes for a year of data:</p>
  <ul class="govuk-body govuk-list--bullet">
      <li>hourly data - usually less than 1MB</li>
      <li>daily average data - usually less than 500KB</li>
      <li>annual average data - usually less than 100KB</li>
    </ul>  </div>
</details>
              
      {% set year_selected = finalyear %}
    
      
                 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m" id="all-p">All pollutants</h3>
 
   <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Hourly')" role="button" 
   class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                      
                    </a>

<br>

                      <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Daily')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                       
                    </a>

                    <br>

                    <a id="download-link" href="#"  onclick = "getAPIstn_details1('AllPollutants','Annual')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download annual average data 
          
                       
                    </a>


 {% for pollutant in tabledata %}
<h2 class="govuk-heading-m" id="all-p">{{pollutant.pollutantName}}</h2>
 
                    <a id="download-link" href="#"  onclick = "getAPIstn_details1('{{pollutant.pollutantName}}','Hourly')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download hourly data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>

<br>
                      <a id="download-link" href="#"  onclick = "getAPIstn_details1('{{pollutant.pollutantName}}','Daily')" role="button" class="aq-button-secondary aq-button-secondary--icon govuk-!-margin-bottom-3">
                
                <span class="aq-button-secondary__icon">
                    <svg focusable="false" aria-hidden="true" width="14" height="20" viewBox="0 0 14 20">
                        <path d="M1.929 9L7 14.071 12.071 9M7 14.071V1M1 18h12" fill="none" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                </span>
                <span class="aq-button-secondary__text">
                    Download daily average data 
          
                        <span class="govuk-visually-hidden">
                        (Visual only)
                      </span>
                    </a>
                    <br>


 {% endfor%}                       
  </div>
                        </div>
                </div>
                {% else %}
                <div class="govuk-inset-text">
  There is no data available for this year.
</div>
               {% endif%}      
              
              
              <script>

      
           async function getAPIstn_details1(pollutants,freq) {          
      fetch(`/downloaddata/${pollutants}/${freq}`)
        .then(response => response.text())
        .then(data => {           
           
            window.location.href =data
        })
        .catch(error => console.error('Error fetching partial content:', error));        
}
document.addEventListener('DOMContentLoaded', () => {

  
      console.log("document.getElementById('year-heading').textContent in152",document.getElementById('year-heading').textContent)
    //document.getElementById('airpollution-heading').textContent = `Air pollution levels in ${selectedYear}`;
    
   
});
    </script>
    {% if downloadresult %}
  <script>
  
    var downloadresult = "{{ downloadresult | safe }}";
    var url = downloadresult;
   window.location.href = url;
  </script>
{% endif %} 
