{% extends 'layouts/page.njk' %}


{% block content %}
{{statusCode}}
  {# {% if statusCode == '500' %}
    {% include 'partials/error-500.njk' %}
  {% elif statusCode == '404' or statusCode == '400' %}   
      {% include 'partials/error-404-en.njk' %}   
   
    {% endif %}  #}
 
{% endblock %}
