{% extends "govuk/template.njk" %}


{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "toggletip/macro.njk" import toggletip %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "cookie-banner/macro.njk" import govukCookieBanner %}
{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  {# <link  href="{{ getAssetPath('stylesheets/moj-frontend.min.css) }}" rel="stylesheet"> #}
{% endblock %}

{% block header %}
  {% include "partials/cookie-banner.njk" %}   
   <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5ZWS27T3');</script>
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    useTudorCrown: true
  }) }}
  {# {% include "partials/navigation/navigation.njk" %} #}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_cGUbgnwHQnx28Qu">give your feedback (opens in new tab)</a>.'
}) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {% if displayBacklink %}
  <div class='top-nav'>  
    {{ govukBackLink({
    text: "Back",
    href: hrefq
  }) }}
  </div>
{%endif%}
 {% endblock %}
 





{% block content %}{% endblock %}
{% block footer %}

  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/accessibility",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
   <script type="module" src="src/client/javascripts/toggletip.js"></script>
   <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script src="/javascript/moj-frontend.min.js"></script>
<script>
  window.MOJFrontend.initAll()
</script>

{% endblock %}
