{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    paragraphs: "",
    caption: ""
  }) }}
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl odd-page">{{title}}</h1>
   
      <p class="govuk-body">{{paragraphs.a}}  <a class="govuk-link" href="/">{{paragraphs.link1}} </a> {{paragraphs.a29}}<a class="govuk-link" href="mailto:data.protection@defra.gov.uk"> data.protection@defra.gov.uk </a>
      </p>
      <h2 class="govuk-heading-m">{{headings.a}}</h2>
      <p class="govuk-body">{{paragraphs.b1}} </p>
      <p class="govuk-body">{{paragraphs.b2}} </p>
      <p class="govuk-body">{{paragraphs.b3}} <a class="govuk-link" href="mailto:data.protection@defra.gov.uk"> data.protection@defra.gov.uk.</a> </p>
      <div class="contact">
      <p class="govuk-body"> {{paragraphs.b4}}
      <br>
      <br>
      {{paragraphs.c}}<br>
      {{paragraphs.d}}<br>
      {{paragraphs.e}}<br>
      {{paragraphs.f}} <br>
      {{paragraphs.g}}</p>
      </div>
     <p class="govuk-body">{{paragraphs.j}} 
     
     <p class="govuk-body">{{paragraphs.b3}} <a class="govuk-link" href="mailto:DefraGroupDataProtectionOfficer@defra.gov.uk">DefraGroupDataProtectionOfficer@defra.gov.uk.</a></p>
      <div class="contact">
      <p class="govuk-body"> {{paragraphs.b4}}
      <br>
      <br>
      {{paragraphs.c}}<br>
      {{paragraphs.d}}<br>
      {{paragraphs.e}}<br>
      {{paragraphs.f}} <br>
      {{paragraphs.g}}</p>
      </div>
      <h2 class="govuk-heading-m">{{headings.b}}</h2>
      <p class="govuk-body">{{paragraphs.k0}}</p>
      <p class="govuk-body">{{paragraphs.k}}</p>
      <p class="govuk-body">{{paragraphs.a23}}</p>
      <ul class="govuk-list govuk-list--bullet">
        
         <li>{{paragraphs.m}} </li>
         <li>{{paragraphs.n}}</li>
          <li>{{paragraphs.a27}}</li>
         <li>{{paragraphs.o}}</li>
         
      </ul>
       <p class="govuk-body">{{paragraphs.a24}}<a class="govuk-link" href="/cookies">{{paragraphs.a28}}</a></p>
       
      <h2 class="govuk-heading-m">{{headings.c}} </h2>
      <p class="govuk-body">{{paragraphs.q}}</p>

      <h2 class="govuk-heading-m">{{headings.d}}</h2>
      <p class="govuk-body">{{paragraphs.r}}</p>
      <p class="govuk-body">{{paragraphs.r2}}</p>

      <h2 class="govuk-heading-m">{{headings.e}}</h2>
      <p class="govuk-body">{{paragraphs.s}}</p>
      <p class="govuk-body">{{paragraphs.t}}</p>

      <h2 class="govuk-heading-m">{{headings.f}}</h2>
      <p class="govuk-body">{{paragraphs.u}}</p>
      <h2 class="govuk-heading-m">{{headings.g}}</h2>
      <p class="govuk-body">{{paragraphs.x}}</p>
      <p class="govuk-body">{{paragraphs.y}}</p>

      <h2 class="govuk-heading-m">{{headings.h}}</h2>
      <p class="govuk-body">{{paragraphs.z}}</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>{{paragraphs.a0}}</li>
         <li>{{paragraphs.a1}}</li>
      </ul>
      <h2 class="govuk-heading-m">{{headings.i}}</h2>
      <p class="govuk-body">{{paragraphs.a2}}</p>

      <h2 class="govuk-heading-m">{{headings.j}}</h2>
      <p class="govuk-body">{{paragraphs.a3}}</p>
      <ul class="govuk-list govuk-list--bullet">
         <li>{{paragraphs.a4}}</li>
         <li>{{paragraphs.a5}}</li>
         <li>{{paragraphs.a6}}</li>
         <li>{{paragraphs.a7}}</li>
         <li>{{paragraphs.a8}}</li>
         <li>{{paragraphs.a9}}</li>
         <li>{{paragraphs.a10}}</li>
         <li>{{paragraphs.a11}}</li>
      </ul>
      <p class="govuk-body">{{paragraphs.a12}} <a class="govuk-link" href="https://ico.org.uk/for-organisations/uk-gdpr-guidance-and-resources/individual-rights/individual-rights/">{{paragraphs.a15}}</a></p>
      <h2 class="govuk-heading-m">{{headings.k}}</h2>
      <p class="govuk-body">{{paragraphs.a16}} <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/">{{paragraphs.a17}}</a> {{paragraphs.a18}}</p>
      <h2 class="govuk-heading-m">{{headings.l}}</h2>
      <p class="govuk-body">{{paragraphs.a20}} <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs/about/personal-information-charter">{{paragraphs.a21}}</a> {{paragraphs.a22}}</p>
   </div>
</div>
  {% endblock %}

 



