// Example SASS helpers

%app-link-style {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
  }
}

@mixin app-link-style {
  @extend %app-link-style;
}
