@use "govuk-frontend" as *;



.app-main-wrapper {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(3);
}
.custable{
  position: relative;
    margin-top: -1px;
   margin-bottom: 0px;
}

.defra-aq-features {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 80px;
        @media (max-width: 640px) {
            gap: 30px;
        }
        @media (max-width: 370px) {
            flex-wrap: wrap;
        }
        margin: 0 0 15px 0;
        padding-bottom: 0px;
        box-shadow: inset 0 -1px 0 #b1b4b6;
        width: 100%;
    }
 
    &__item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    float: left;
    min-width: 6em;
    }
 
    &__key {
    margin: 0;
    @include govuk-font($size: 19);
    color: #505a5f;
    @media (max-width: 640px) {
        @include govuk-font($size: 16);
    }
    @media (max-width: 370px) {
        font-size: 14px;
    }
    }
 
    &__value {
    margin: 5px 0 0 0;
    @include govuk-font($size: 24);
    @media (max-width: 640px) {
        font-size: 16px;
    }
   
    }
 
&__link {
        @include govuk-font($size: 19);
        @media (max-width: 640px) {
            font-size: 16px;
        }
        }
}

.status-tag {
  margin-top: 0px; 
  padding: 6px 12px 6px 12px;
}
.status-description {
  margin-left: 5px; 
  display: inline-block; 
  color: #505a5f;
}


.aq-button-secondary {
    position: relative;
    display: inline-block;
    @include govuk-font($size: 16);
    width: auto;
    margin: 0px 0px 5px;
    border: 1px solid govuk-colour('mid-grey');
    box-shadow: none;
    background-color: white;
    padding: 9px 10px 10px;
    outline: 3px solid transparent;
    cursor: pointer;
    color: $govuk-text-colour !important;
    text-decoration: none;
    &:visited {
        color: $govuk-text-colour;
    }
    &:hover {
        background-color: #dbdad9;
    }
    &:focus {
        background-color: $govuk-focus-colour;
        border-color: $govuk-focus-colour;
        box-shadow: 0 2px 0 govuk-colour('black') !important;
        
.aq-button-secondary__text {
            color: #0b0c0c;
        }

    }
    &--icon {
        padding-left: 31px;
        svg {
            position: absolute;
            left: 10px;
            top: 50%;
            margin-top: -11px;
        }
    }
    &__text{
        color: #1d70b8;
    }
    
}
.defra-toggletip {

	&:first-child {
		display: inline-block;
	}
  display: inline-block;
  position: relative;
	&:not(.defra-toggletip-target) {
		padding-right: 26px;
	}
	&--open {
		z-index: 99;
	}
	&__container {
		position: absolute;
		top: -3px;
		@include mq ($from: tablet) {
			top: -23px;
		}
		right: 0px;
		width: 26px;
		height: 26px;
	}
	&__button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 26px;
    height: 26px;
    background-color: white;
    border: 0px;
    padding: 0px;
    text-align: center;
    color: #0b0c0c;
    cursor: help;
		
		&-icon {
			pointer-events: none;
			position: absolute;
			overflow: visible;
			top: 5px;
			left: 5px;
			width: 16px;
			height: 16px;
			border-radius: 100%;
		}
		&-text {
			position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
            clip: rect(0 0 0 0) !important;
            clip-path: inset(50%) !important;
            border: 0 !important;
            white-space: nowrap !important;
           
            
		}
		svg {
			position: relative;
			margin: -1px 0px 0px -1px;
		}
		&:hover, &:focus {
			color: govuk-colour('black');
		}
		&:hover span {
			box-shadow: 0 0 0 5px govuk-colour('light-grey');
		}
		&:focus {
			outline: 3px solid transparent;
			span {
				box-shadow: 0 0 0 1px govuk-colour('black'), 0 0 0 5px $govuk-focus-colour;
			}
		}
	
   // ✅ Show tooltip on keyboard focus
   &:focus ~ .defra-toggletip__info,
   &:focus-visible ~ .defra-toggletip__info {
     opacity: 1;
     visibility: visible;
   }
 }





	&__info {
		@include govuk-font($size: 16);
		cursor: auto;
		position:absolute;
		width:0px;
		overflow: hidden;
		box-sizing: border-box;
		visibility: hidden;
		top: auto;
		bottom: 100%;
		left: 0px;
		padding-bottom: 10px;
		text-align: left;
	}
  // Keyboard access
  &__info.is-visible {
    visibility: visible;
    opacity: 1;
  }
  // end
	&__text {
		position: relative;
		display:block;
		box-sizing: border-box;
		padding: 7.5px 10px;
		color: white;
		background: black;    
		border: 2px solid currentcolor;
		z-index: 2;
		span {
			color: white;
		}
	}
	&__arrow {
		position: absolute;
		box-sizing: border-box;
		z-index: 1;
		width: 10px;
		height: 10px;
		left: 50%;
		bottom: auto;
		top: 100%;
		margin: -15px 0px 0px -5px;
		color: govuk-colour('black');
		border: 5px solid currentcolor;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		-o-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	&--bottom &__info {
		bottom: auto;
		top: 100%;
		padding-top: 10px;
		padding-bottom: 0px;
	}
	&--bottom &__arrow {
		bottom: 100%;
		top: auto;
		margin: 0px 0px -15px -5px;
	}
	&--open &__info {
		visibility: hidden;
		width:200px;
		overflow: visible;
	}
	&.defra-toggletip-target {
		cursor: help;
		border-bottom: 1px dashed govuk-colour('black');
		padding-bottom: 1px;
		outline: 3px solid transparent;
		&:focus, &:hover:focus-visible {
			border-bottom: 1px solid govuk-colour('black');
			box-shadow: 0 2px 0 govuk-colour('black'), 0 6px 0 govuk-colour('yellow');
		}
		&:focus:not(:focus-visible):not(:hover) {
			border-bottom: 1px dashed govuk-colour('black');
			box-shadow: none;
		}
		&:hover {
			border-bottom: 1px solid govuk-colour('black');
			box-shadow: 0 2px 0 govuk-colour('black');
		}
	}
}

	.tooltip {
		strong {
			line-height: 30px; 
    }

		& ~ span {
			width: auto; 
			margin-top: auto; 
			margin-left: auto; 
			opacity: 0; 
			visibility: hidden; 
			z-index: 10; 
			position: absolute; 
			-webkit-transition-property: opacity, margin-top, visibility, margin-left; 
			-webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
			-webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
    ease-in-out; 
			-moz-transition-property: opacity, margin-top, visibility, margin-left; 
			-moz-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
			-moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
    ease-in-out; 
			-o-transition-property: opacity, margin-top, visibility, margin-left; 
			-o-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
			-o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out,
    ease-in-out; 
			transition-property: opacity, margin-top, visibility, margin-left; 
			transition-duration: 0.4s, 0.3s, 0.4s, 0.3s; 
			transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out; 
			
      & ~ .defra-toggletip__info {
				color: #ffffff; 
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#FFFFFF',GradientType=0 ); 
        margin-left: -87px;
        pointer-events: none;
      }
    }
    
		&:hover {
		
				& ~ .defra-toggletip__info {
					opacity: 1; 
					text-decoration: none;
					visibility: visible; 
          margin-left: -87px;
        }
      
    }

		span {
			b {
				width: 15px; 
				height: 15px;
				margin-left: 20px;
				margin-top: -19px;
				display: block;
				position: absolute; 
				-webkit-transform: rotate(-45deg); 
				-moz-transform: rotate(-45deg); 
				-o-transform: rotate(-45deg); 
				transform: rotate(-45deg); 
				-webkit-box-shadow: inset -1px 1px 0 #ffffff; 
				-moz-box-shadow: inset 0 1px 0 #ffffff; 
				-o-box-shadow: inset 0 1px 0 #ffffff; 
				box-shadow: inset 0 1px 0 #ffffff; 				
				background: #f0f0f0; 
				border-top: 1px solid #cfb57c; 
				border-right: 1px solid #cfb57c; 
      }
    }
  }


.tipfix ~ span {
	color: #000000;
	margin-top: -5px;
}

.defra-toggletip__button:hover ~ .defra-toggletip__info,
.defra-toggletip__info:hover {
  opacity:1;
  visibility:visible;
  pointer-events:auto
}

.moj-sub-navigation {
  margin-bottom: govuk-spacing(7);
}

.moj-sub-navigation__list {
  margin: 0;
  padding: 0;
  font-size: 0; 
  list-style: none;

  @include govuk-media-query($from: tablet) {
    width: 100%;
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
  }
}

.moj-sub-navigation__item {
  display: block;
  margin-top: -1px;
  box-shadow: inset 0 -1px 0 $govuk-border-colour;
  @include govuk-font(19);

  &:last-child {
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    display: inline-block;
    margin-top: 0;
    margin-right: govuk-spacing(4);
    box-shadow: none;
  }
}

.moj-sub-navigation__link {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: govuk-spacing(3);
  @include govuk-link-common;
  @include govuk-link-style-default;

  @include govuk-media-query($from: tablet) {
    padding-left: 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:link,
  &:visited {
    color: $govuk-link-colour;
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus {
    position: relative; 
    color: govuk-colour("black"); 
    box-shadow: none;
  }

  &:focus::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: govuk-colour("black");

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }
}

.moj-sub-navigation__link[aria-current="page"] {
  position: relative;
  color: $govuk-link-active-colour;
  text-decoration: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: $govuk-link-colour;

    @include govuk-media-query($from: tablet) {
      width: 100%;
      height: 5px;
    }
  }

  &:hover {
    color: $govuk-link-hover-colour;
  }

  &:focus::before {
    background-color: govuk-colour("black");
  }
}
////////////////////////////// table ///////////////////////////////////
%govuk-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  font-family: "GDS Transport", arial, sans-serif;
  th, td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
  }

  th {
    font-weight: bold;
    border-bottom: 2px solid #b1b4b6;
  }

  td {
    border-bottom: 1px solid #b1b4b6;
  }

  &--striped tbody tr:nth-child(odd) {
    background-color: #f3f2f1;
  }

  &--bordered th, &--bordered td {
    border: 1px solid #b1b4b6;
  }
}
%govuk-table-cell {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #b1b4b6;
  font-family: "GDS Transport", arial, sans-serif;
}
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  display: none !important;
  // @include defra-visually-hidden();
}
.defra-aq-levels-table {
 // @extend %govuk-table;
  position: relative;
  margin-top: -1px;
  margin-bottom: 0px;
  @include mq ($until: tablet) {
    display: block;
    margin-top: 30px;
  }
  &__head {
    @include mq ($until: tablet) {
      display: block;
    }   
  }
  &__head tr {
    @include mq ($until: tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__head &__cell {
   
    padding-top: 10px;
    padding-bottom: 10px;
    &--pollutant {
      @include mq ($until: tablet) {
        @include visually-hidden;
       // @include defra-visually-hidden();
      }
    }
  }
  &__body {
    @include mq ($until: tablet) {
      display: block;
    }
  }
  &__row {
  //   border-top: 1px solid govuk-tint($govuk-border-colour, 0); //
    border-bottom: 1px solid govuk-tint($govuk-border-colour, 0);
    @include mq ($until: tablet) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -1px;
    }
  }
  &__cell {
 // @extend %govuk-table-cell;
    border-bottom: 0px;
    vertical-align: middle;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include mq ($until: tablet) {
      display: inline-block;
      padding-top:0px;
      padding-bottom: 10px;
    }
    a {
      display: inline-block;
    }
  }
  &__cell--pollutant {
    @include govuk-font($size: 19, $weight: bold);
    width: 25%;
    padding-right:20px;
    @include mq ($until: tablet) {
      padding-top:10px;
      padding-bottom:25px;
      padding-right: 0px;
      width: 100%;
    }
  }
  &__cell--pollutant-title {
      padding-bottom: 10px;
      @include mq ($until: tablet) {
      //    @include defra-visually-hidden();
      }
    }
    &__cell--average-title {
      padding-bottom: 10px;
      text-align: right; 
      
    }
    &__cell--daily-title {
      padding-bottom: 10px;
      text-align: right; 
    }
    &__cell--hourly-title {
      padding-bottom: 10px;
      text-align: right; 
    }
  &__cell--average {
    width: 15%;
    text-align: right;
    @include mq ($until: tablet) {
      width: 30%;
      text-align: left;
     
    }
  }
  &__cell--daily {
      width: 30%;
      text-align: right;
      @include mq ($until: tablet) {
        width: 35%;
       
      }
    }
  &__cell--hourly {
    width: 30%;
    text-align: right;   
  }
 
  &__cell--data {
      font-size: 16px; 
      margin-top: 5px;
      display: block;
      font-weight: normal;
      @include mq ($until: tablet) {
          font-size: 14px;
      }
    }
}
@include govuk-exports("govuk/component/cookie-banner") {
.govuk-cookie-banner {
  padding-top: govuk-spacing(4);
  // The component does not set bottom spacing.
  // The bottom spacing should be created by the items inside the component.

  // Visually separate the cookie banner from content underneath
  // when user changes colours in their browser.
  border-bottom: $border-bottom-width solid transparent;

  background-color: govuk-colour("light-grey");
}

// Support older browsers which don't hide elements with the `hidden` attribute
// when user hides the whole cookie banner with a 'Hide' button.
.govuk-cookie-banner[hidden] {
  display: none;
}

.govuk-cookie-banner__message {
  // Remove the extra height added by the separator border.
  margin-bottom: -$border-bottom-width;

  &[hidden] {
    // Support older browsers which don't hide elements with the `hidden` attribute
    // when the visibility of cookie and replacement messages is toggled.
    display: none;
  }

  &:focus {
    // Remove the native visible focus indicator when the element is programmatically focused.
    //
    // The focused cookie banner is the first element on the page and the last thing the user
    // interacted with prior to it gaining focus.
    // We therefore assume that moving focus to it is not going to surprise users, and that giving
    // it a visible focus indicator could be more confusing than helpful, especially as the
    // element is not normally keyboard operable.
    //
    // We have flagged this in the research section of the guidance as something to monitor.
    //
    // A related discussion: https://github.com/w3c/wcag/issues/1001
    outline: none;
  }
}
}

