{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ heading }}</h1>
      <p class="govuk-body">{{ message }}</p>
             <p class="govuk-body">To request another download go to <a href="/" class="govuk-link">Get air pollution data.</a></p>
    </div>
  </div>
  {% endblock %}